rvl_alias "clk" "midi_synth/midi_controller/clk";
RVL_ALIAS "clk" "midi_synth/clk"; 
BLOCK RESETPATHS ;
LOCATE COMP "dac_out[15]" SITE "H15" ;
LOCATE COMP "dac_out[14]" SITE "G15" ;
LOCATE COMP "dac_out[13]" SITE "F15" ;
LOCATE COMP "dac_out[12]" SITE "E15" ;
LOCATE COMP "dac_out[11]" SITE "E14" ;
LOCATE COMP "dac_out[10]" SITE "C15" ;
LOCATE COMP "dac_out[9]" SITE "F14" ;
LOCATE COMP "dac_out[8]" SITE "B16" ;
LOCATE COMP "dac_out[7]" SITE "G14" ;
LOCATE COMP "dac_out[6]" SITE "D14" ;
LOCATE COMP "dac_out[5]" SITE "D16" ;
LOCATE COMP "dac_out[4]" SITE "E16" ;
LOCATE COMP "dac_out[3]" SITE "F16" ;
LOCATE COMP "dac_out[2]" SITE "G16" ;
LOCATE COMP "dac_out[1]" SITE "H16" ;
LOCATE COMP "dac_out[0]" SITE "J16" ;
IOBUF PORT "dac_out[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
IOBUF PORT "dac_out[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=16 ;
LOCATE COMP "leds[0]" SITE "H11" ;
LOCATE COMP "leds[1]" SITE "J13" ;
LOCATE COMP "leds[2]" SITE "J11" ;
LOCATE COMP "leds[3]" SITE "L12" ;
LOCATE COMP "leds[4]" SITE "K11" ;
LOCATE COMP "leds[5]" SITE "L13" ;
LOCATE COMP "leds[6]" SITE "N15" ;
LOCATE COMP "leds[7]" SITE "P16" ;
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "ref_clk" SITE "C8" ;
LOCATE COMP "button" SITE "B3" ;
LOCATE COMP "midi_port" SITE "B7" ;
IOBUF PORT "midi_port" PULLMODE=UP IO_TYPE=LVCMOS33 HYSTERESIS=SMALL ;
IOBUF PORT "ref_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "button" IO_TYPE=LVCMOS33 ;
LOCATE COMP "leds_2[7]" SITE "H14" ;
LOCATE COMP "leds_2[6]" SITE "K15" ;
LOCATE COMP "leds_2[5]" SITE "K14" ;
LOCATE COMP "leds_2[4]" SITE "L15" ;
LOCATE COMP "leds_2[3]" SITE "M15" ;
LOCATE COMP "leds_2[2]" SITE "L14" ;
LOCATE COMP "leds_2[1]" SITE "M14" ;
LOCATE COMP "leds_2[0]" SITE "K12" ;
LOCATE COMP "leds_3[7]" SITE "J15" ;
LOCATE COMP "leds_3[6]" SITE "J14" ;
LOCATE COMP "leds_3[5]" SITE "K16" ;
LOCATE COMP "leds_3[4]" SITE "L16" ;
LOCATE COMP "leds_3[3]" SITE "M16" ;
LOCATE COMP "leds_3[2]" SITE "N16" ;
LOCATE COMP "leds_3[1]" SITE "N14" ;
LOCATE COMP "leds_3[0]" SITE "K13" ;
IOBUF PORT "leds_2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_2[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "leds_3[7]" IO_TYPE=LVCMOS33 ;
BLOCK JTAGPATHS ;
LOCATE COMP "debug_bus[0]" SITE "D9" ;
LOCATE COMP "debug_bus[2]" SITE "A10" ;
LOCATE COMP "debug_bus[4]" SITE "E6" ;
LOCATE COMP "debug_bus[6]" SITE "C5" ;
LOCATE COMP "debug_bus[1]" SITE "B9" ;
LOCATE COMP "debug_bus[3]" SITE "F7" ;
LOCATE COMP "debug_bus[5]" SITE "C4" ;
LOCATE COMP "debug_bus[7]" SITE "D6" ;
IOBUF PORT "debug_bus[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "debug_bus[7]" IO_TYPE=LVCMOS33 ;
USE PRIMARY NET "clk" ;
FREQUENCY NET "clk" 48.000000 MHz ;
VOLTAGE 3.300 V;
TEMPERATURE 25.000 C;
BLOCK ASYNCPATHS ;
